body{
    background-color: white;
}

main{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    width: 100%;

    font-size: 2em;
    font-weight: bold;
    word-wrap: break-word;

    margin-bottom: 30px;

    text-align: center;
}

.productsList{
    width: 100%;

    padding: 0px 20px;

    margin-bottom: 30px;
}

.products{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 1.3em;

    margin-bottom: 15px;
}

.productName{
    width: 80%;

    display: flex;
    flex-direction: column;

    word-break: break-word;
}

.valueProduct{
    font-size: 0.8em;
}

.productObservation{
    padding: 0px 10px;
    
    color: rgb(71, 71, 71);
}

.spanButtons{
    width: 18%;

    display: flex;
    justify-content: space-between;
}

.products button{
    font-size: 1em;

    padding: 2px 3px;

    background-color: black;
    color: white;

    border: none;
    border-radius: 3px;

    transition: .2s;
    
    cursor: pointer;
}

.products button:active{
    background-color: white;
    color: black;
}

.total{
    width: 100%;
    text-align: right;
}

.paymentsList{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 70px;
}

.payments{
    width: 60%;

    font-size: 1.5em;
    font-weight: bold;

    background-color: transparent;
    
    border: 3px solid black;
    border-radius: 5px;

    padding: 5px 0px;

    margin-bottom: 15px;

    transition: .2s;

    cursor: pointer;
}

.active{
    background-color: black;
    color: white;
}

.payments:active{
    background-color: black;
    color: white;
}

footer{
    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;

    padding: 10px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    background-color: white;
}

.total{
    width: 30%;

    text-align: left;

    display: flex;
    flex-direction: column;

    font-size: 1.2em;
    font-weight: 500;
}

.btnConfirm{
    width: 60%;

    font-size: 1.3em;
    font-weight: bold;

    padding: 8px 0px;

    background-color: black;
    color: white;

    transition: .2s;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.btnConfirm:active{
    background-color: white;
    color: black;
}