body{
    width: 100vw;

    background-color: white;

    overflow: hidden;
}



main{
    width: 100vw;

    position: absolute;

    overflow: hidden;
}

#containerKeyboard{
    width: 100vw;

    position: relative;
    left: 0%;

    transition: .5s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#value{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 20px;
    
    font-size: 3em;
    font-weight: 500;

    color: rgba(0, 0, 0, 0.582);
}

#value span:nth-child(1){
    font-size: 0.5em;
    
    margin-right: 5px;
}

#keyboard{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.btnKeyboard{
    width: calc(100vw/3);
    height: 90px;

    font-size: 2em;

    border: none;

    cursor: pointer;

    background-color: white;
}

.btnKeyboard:active{
    background-color: rgb(245, 245, 245);
}

#btnNext{
    width: 80%;

    font-size: 1.5em;

    margin-top: 35px;
    margin-bottom: 100px;
    padding: 5px 10px;

    color: #a1a1a1;
    
    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: .1s;
}

#btnNext:hover{
    background-color: black;
    color: white;
}

#containerMenu{
    width: 100vw;

    padding: 0px px;

    position: absolute;
    top: 0;
    left: 100%;

    transition: .5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    overflow: hidden;
}

#categoriesList,
#productsList{
    width: 100%;
    max-height: 600px;

    padding: 9px 10px;

    display: none;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    position: relative;

    overflow: scroll;
}

#productsList{
    padding-top: 50px;
}

.categories,
.products{
    width: 28vw;
    min-height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    text-align: center;

    font-weight: bold;
    padding: 0px 4px;

    margin-bottom: 20px;

    border-radius: 5px;

    background-color: white;

    cursor: pointer;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.active{
    background-color: black;
    color: white;
    box-shadow: none;
}

.productName{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.areaValue{
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 6px;

    padding: 0px 3px;

    z-index: 2;

    border-radius: 3px;
}

.value{
    font-size: 1em;
}

.subtractValue,
.addValue{
    color: white;

    background-color: transparent;

    border: none;
    border-radius: 3px;

    padding: 0px 2px;

    font-size: 1.4em;
    font-weight: bold;

    z-index: 2;

    cursor: pointer;
}

.subtractValue:active,
.addValue:active{
    background-color: rgba(255, 255, 255, 0.2);
}

.btnBack{
    position: absolute;
    top: 0px;
    left: 20px;

    background-color: transparent;
    border: none;
    
    z-index: 2;

    font-size: 2em;
    font-weight: 900;

    border-radius: 3px;

    cursor: pointer;
}

.btnBack:active{
    background-color: black;
    color: white;
}

.containerCart{
    width: 100%;

    margin: auto;

    z-index: 2;

    position: absolute;
    bottom: 0px;
    left: 0;

    transition: .4s;

    display: flex;
    justify-content: center;
}

.cart{
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 10px;

    font-size: 1.3em;
    font-weight: bold;

    border-radius: 5px;

    background-color: black;
    color: white;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.cart button{
    color: white;
    background-color: black;

    border: none;

    font-size: 1em;
    font-weight: 600;

    border-radius: 5px;

    padding: 5px 5px;

    cursor: pointer;
}

.cart button:active{
    background-color: white;
    color: black;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 70px;

    z-index: 2;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    background-color: white;
}

.btnFooter{
    width: 100%;

    font-size: 1.5em;

    cursor: pointer;
    
    background-color: white;

    border: none;
}

#barFooterSection{
    position: fixed;

    width: 50%;
    height: 5px;

    transition: .5s;

    background-color: black;
}

.footerSectionLeft{
    left: 0%;
}

.footerSectionRight{
    left: 50%;
}